// screen widths
$mobile-breakpoint-width: 765px;
$desktop-breakpoint-width: 1200px;

$admin_dark: #181A1E;
$admin_medium: #202528;
$admin_light: #81899B;
$admin_off_white: #E4EBF8;

$admin_light_blue: #649CCF;
$admin_dark_blue: #69768E;
$admin_red: #FF215A;
$admin_green: #168B7F;
