@import './_variables.scss';


.page_container {

    background-color: rgb(20,27,45);
    display: grid;
    grid-template-columns: 1.3fr 6fr;
    color: white;
    
    text-decoration: none;
    list-style-type: none;
    height: 100vh;
    
    & .sidebar {
        background-color: rgb(31,41,64);
        grid-column: 1/2;
        padding-left: 10px;
        padding-right: 10px;

        & h3 {
            margin-top: 0;
            padding-top: 40px;
            padding-left: 10px;
        }
        & .back_btn {
            padding-left: 10px;

        }
        & ul {
            list-style-type: none;
            padding-left: 0px;
            & li {
                // background-color: #3E4861;
                margin: 5px;
                padding-left: 10px;
                // border: 2px solid rgb(31,41,64);
                background-color: rgb(31,41,64);
                transition: background-color 0.5s;

                &:hover {
                    
                    background-color: #3E4861;
                    // background-color: rgb(20,27,45);
                }
            }
        }
    }
    & .list_holder {
        grid-column: 2/3;

        & .list_container {
            // background-color: green;
            margin-top: 150px;
            // margin: 20px;
            // border-radius: 15px;
            // display: grid;
            // grid-template-columns: auto;
            // gap: 10px;
            width: 100%;
            align-content: space-around;

        & .titleList {
            display: flex;
            align-content: space-around;
            

            // margin-left: 20px;
                // margin-right: 20px;


            & .titleRow {
                //  gap: 20px;
                margin-right: 20px;
                margin-left: 20px;
                list-style-type: none;
                display: flex;
                width: 100%;
                align-content: space-around;
                margin-top: 0px;
                margin-bottom: 0px;
                
                & li {
                    display: flex;
                    background-color: rgb(31,41,64);
                    // background-color: rgb(20,27,45);
                    color: grey;
                    font-size: larger;
                    width: 100%;
                    height: 70px;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        
        & .generatedList {
            display: flex;
            align-content: space-around;
            // width: 100%;
            flex-direction: column;
            margin-right: 20px;
            margin-left: 20px;

            
            & .generatedRow {
                gap: 20px;
                // margin-left: 10px;
                list-style-type: none;
                display: flex;
                width: 100%;
                align-content: space-around;
                // margin-left: 20px;
                margin-top: 0px;
                margin-bottom: 0px;
                background-color: rgb(31,41,64);
                // background-color: blue;
                & li {
                    
                    display: flex;
                    height: 70px;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                }
            }
            & .generatedRow:nth-child(odd) { 
                background-color: rgb(31,41,64);
            }
            & .generatedRow:nth-child(even) {
                background-color: #3E4861;
            }
        }
    }

    }
}