@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import './_variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Manrope, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* colors */
  --clr-tan-primary: #D87D4A; /* rgb(216, 125, 74), hsl(22, 65%, 57%) */
  --clr-black-primary: #101010; /* rgb(16, 16, 16), hsl(0, 0%, 6%) */
  --clr-grey-primary: #F1F1F1; /* rgb(241, 241, 241), hsl(0, 0%, 95%) */
  --clr-lighter-grey-primary: #FAFAFA; /* rgb(250, 250, 250), hsl(0, 0%, 98%) */

  --clr-pale-secondary: #FBAF85; /* rgb(251, 175, 133), hsl(21, 94%, 75%) */
  --clr-white-pure: #FFFFFF; /* rgb(255, 255, 255), hsl(0, 0%, 100%) */
  --clr-black-pure: #000000; /* rgb(0, 0, 0), hsl(0, 0%, 0%) */

  --clr-btn-default-grey: #CFCFCF;
  --clr-btn-darker-grey: #4C4C4C;

  // desktop
  @media screen and (min-width: $desktop-breakpoint-width) {
      //margin
      --standard-margin: 30rem;
  }
  // tablet
  @media screen and (max-width: 2045px) and (min-width: 1400px) {
      --standard-margin: 10rem;
  }
  // mobile
  @media screen and (max-width: 1400px) {
    --standard-margin: 6rem;
  }
  // mobile
  @media screen and (max-width: 765px) {
    --standard-margin: 3rem;
  }
  // mobile
  @media screen and (max-width: 400px) {
    --standard-margin: 1.5rem;
  }
  @media screen and (min-width: 2850px) {
    --product-list-padding: 20rem;
}
  --standard-border-radius: 8px;
}

body {
  overflow-x: clip;
}
body.open_pay {
  overflow: hidden;
}

body.open:before {
  content:'';
  position: fixed;
  background-color: var(--clr-black-pure);
  opacity: 0.4;
  top: 62px;
  right: 0;
  left: 0;
  border-radius: 0%;
  height: 100%;
  width: 100%;
  z-index: 10;
}
body.open_cart:before, body.open_pay:before {
  content:'';
  position: fixed;
  background-color: var(--clr-black-pure);
  opacity: 0.4;
  top: 139.88px;
  right: 0;
  left: 0;
  border-radius: 0%;
  height: 100%;
  width: 100%;
  z-index: 1;
  @media screen and (max-width: $desktop-breakpoint-width) {
    top: 62px;
  }
}



a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 700;
}
h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  @media screen and (max-width: $mobile-breakpoint-width) {
    font-size: 36px;
  line-height: 40px;
    
  }
}
h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
}
h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
} 
h4 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}
h5 {
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 1.7px;
}
h6 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
  @media screen and (max-width: $desktop-breakpoint-width) {
    font-size: 15px;
    
  }
}

ul {
  padding-inline-start: 0px;
}

p {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}
.overline {
  color: var(--clr-tan-primary);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
}
.sub-title {
  color: var(--clr-tan-primary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

/* buttons */

button {
  cursor: pointer;
}

.btn-type-1, .btn-type-2 {
  width: 160px;
  height: 48px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

.btn-type-1 {
  background-color: var(--clr-tan-primary);
  border: none;
  color: var(--clr-white-pure);
} 
.btn-type-1:hover {
  background-color: var(--clr-pale-secondary);
}
.btn-type-2 {
  background-color: transparent;
  border: 1px solid var(--clr-black-pure);
  color: var(--clr-black-pure);
} 
.btn-type-2:hover {
  background-color: var(--clr-black-pure);
  color: var(--clr-white-pure);
}

.btn-type-3 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
  border: none;
  background-color: transparent;
}
.btn-type-3:hover {
  color: var(--clr-tan-primary);
}

/* form elements */

input[type="text"], [type="radio"] {
  width: 309px;
  height: 56px;
  border: 1px solid var(--clr-btn-default-grey);
  border-radius: 8px;
  padding-left: 1rem;
  font-size: 1pc;
  caret-color: var(--clr-tan-primary);
  
}
input[type="text"]:active, [type="radio"]:active {
  border: 1px solid var(--clr-tan-primary);

}
input[type="text"]:focus, [type="radio"]:focus {
  outline: none !important;
  border: 1px solid var(--clr-tan-primary);
}









