@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Manrope, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* colors */
  --clr-tan-primary: #D87D4A; /* rgb(216, 125, 74), hsl(22, 65%, 57%) */
  --clr-black-primary: #101010; /* rgb(16, 16, 16), hsl(0, 0%, 6%) */
  --clr-grey-primary: #F1F1F1; /* rgb(241, 241, 241), hsl(0, 0%, 95%) */
  --clr-lighter-grey-primary: #FAFAFA; /* rgb(250, 250, 250), hsl(0, 0%, 98%) */

  --clr-pale-secondary: #FBAF85; /* rgb(251, 175, 133), hsl(21, 94%, 75%) */
  --clr-white-pure: #FFFFFF; /* rgb(255, 255, 255), hsl(0, 0%, 100%) */
  --clr-black-pure: #000000; /* rgb(0, 0, 0), hsl(0, 0%, 0%) */

}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 700;
}
h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
}
h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
}
h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
} 
h4 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}
h5 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}
h6 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
}
p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}
.overline {
  color: var(--clr-tan-primary);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
}
.sub-title {
  color: var(--clr-tan-primary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

.btn-type-1, .btn-type-2 {
  width: 160px;
  height: 48px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

.btn-type-1 {
  background-color: var(--clr-tan-primary);
  border: none;
  color: var(--clr-white-pure);
} 
.btn-type-1:hover {
  background-color: var(--clr-pale-secondary);
}
.btn-type-2 {
  background-color: var(--clr-white-pure);
  border: 1px solid var(--clr-black-pure);
  color: var(--clr-black-pure);
} 
.btn-type-2:hover {
  background-color: var(--clr-black-pure);
  color: var(--clr-white-pure);
}

.btn-type-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
  border: none;
  background-color: transparent;
}
.btn-type-3:hover {
  color: var(--clr-tan-primary);
}
.greater-than {
  color: var(--clr-tan-primary);
  font-size: 15px;
  /* font-family: roboto; */
  /* font-stretch: ultra-condensed; */
  /* height: 10px;
  width: 5px; */

}