@import './_variables.scss';


.hero_section {
    // background-image: url("../public/assets/home/tablet/image-header.jpg");
    position: relative;
    background-color: black;

    // desktop
    @media screen and (min-width: $desktop-breakpoint-width) {
        & .desktop_hero_image {
            opacity: .9;
            display: block;
        }
        & .tablet_hero_image {
            display: none;
        }
        & .mobile_hero_image {
            display: none;
        }
    }
    // tablet
    @media screen and (max-width: $desktop-breakpoint-width) and (min-width: $mobile-breakpoint-width) {
        & .desktop_hero_image {
            opacity: .9;
            display: none;
        }
        & .tablet_hero_image {
            display: block;
        }
        & .mobile_hero_image {
            display: none;
        }
    }
    // mobile
    @media screen and (max-width: $mobile-breakpoint-width) {
        & .desktop_hero_image {
            opacity: .9;
            display: none;
        }
        & .tablet_hero_image {
            display: none;

        }
        & .mobile_hero_image {
            display: block;
        }
    }

}

.hero_text_container {
    position: absolute;
    top: 25%;
    margin-left: var(--standard-margin);
    color: var(--clr-white-pure);
    width: 35rem;
    // margin: 0 auto;
    @media screen and (max-width: $mobile-breakpoint-width){
        width: auto;
        @media screen and (max-width: 500px){
            top: 15%;
        }
    }

    & .hero_title_overline {
        color: var(--clr-btn-default-grey);
        font-weight: 200;
    }
    
    & .hero_paragraph {
        max-width: 43rem;
        // font-weight: 400;
    }
    & .hero_see_product_button {
        margin-top: 2rem;
    }

    // tablet and below
    @media screen and (max-width: $desktop-breakpoint-width)  {
        left: 0;
        right: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        & .hero_paragraph {
            max-width: 100%;
            margin-left: 6rem;
            margin-right: 6rem;

        }
    }
}

// ZX9

.advertisment_zx9_speaker {
    margin-left: var(--standard-margin);
    margin-right: var(--standard-margin);
    margin-bottom: 3rem;
    background-color: var(--clr-tan-primary);
    border-radius: var(--standard-border-radius);
    position: relative;
    height: 28rem;
    background-image: url('../public/assets/home/desktop/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position-x: -5%;
    background-position-y: -10%;
    background-size: 50%; 

   & .zx9_speaker_image_container {
    position: absolute;
    width: 300px;
    bottom: 0rem;
    left: 10%;
    overflow: hidden;
    & img {
        margin-bottom: -1rem;
    }
   }
   & .zx9_speaker_text {
    position: absolute;
    color: white;
    top: 10%;
    left: 50%;
    right: 6rem;
    & .zx9_see_product_button {
        background-color: var(--clr-black-pure);
        margin-top: 2rem;
        &:hover {
            background-color: var(--clr-btn-darker-grey);
        }
    }
   }
   @media screen and (max-width: $desktop-breakpoint-width)  {
        position:static;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-top: 2rem;
        padding-bottom: 3rem;
        background-position: center top;
        & .zx9_speaker_image_container {
            position: static;
            width: 150px;
            overflow: visible;
           }
           & .zx9_speaker_text {
            position: static;
            text-align: center;
            & .zx9_speaker_paragraph {
                width: 370px;
                margin: 0 auto;
            }
           }
   }
   @media screen and (max-width: $mobile-breakpoint-width)  { 
        margin-top: 3rem;
        & .zx9_speaker_text .zx9_speaker_paragraph {
            width: 280px;
        }
   }
}

//same for all jpg images
.advertisment_zx7_speaker, .earphone_background_image_container {
    background-repeat: no-repeat;
    background-size: cover;
}


// zx7
.advertisment_zx7_speaker {
    position: relative;
    height: 28rem;
    margin-left: var(--standard-margin);
    margin-right: var(--standard-margin);
    border-radius: var(--standard-border-radius);
    overflow: hidden;
    margin-bottom: -1rem;
    @media screen and (min-width: $desktop-breakpoint-width)  { 
        background-image: url('../public/assets/home/desktop/image-speaker-zx7.jpg');
    }
    @media screen and (min-width: $mobile-breakpoint-width) and (max-width: $desktop-breakpoint-width)  { 
        background-image: url('../public/assets/home/tablet/image-speaker-zx7.jpg');
    }
    @media screen and (max-width: $mobile-breakpoint-width)  { 
        background-image: url('../public/assets/home/mobile/image-speaker-zx7.jpg');
    }
    & .zx7_speaker_text {
        position: absolute;
        top: 30%;
        left: 6rem;
     @media screen and (max-width: $mobile-breakpoint-width)  { 
        left: 2rem;
     } 

    }
}

// YX1 Earphones
.earphone_container_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-left: var(--standard-margin);
    margin-right: var(--standard-margin);
    padding-top: 3rem;
    @media screen and (max-width: $mobile-breakpoint-width)  { 
        grid-template-columns: 1fr;
    }
    & .earphone_background_image_container, .earphone_title_n_button {
        border-radius: var(--standard-border-radius);
        height: 28rem;
        @media screen and (max-width: $mobile-breakpoint-width)  { 
            height: 14rem;
             margin-top: 1rem;
        }
    }

    & .earphone_background_image_container {
        background-position: center;
        @media screen and (min-width: $desktop-breakpoint-width)  { 
            background-image: url('../public/assets/home/desktop/image-earphones-yx1.jpg');
        }
        @media screen and (min-width: $mobile-breakpoint-width) and (max-width: $desktop-breakpoint-width)  { 
            background-image: url('../public/assets/home/tablet/image-earphones-yx1.jpg');
        }
        @media screen and (max-width: $mobile-breakpoint-width)  { 
            background-image: url('../public/assets/home/mobile/image-earphones-yx1.jpg');
        }
    }


    & .earphone_title_n_button {
        background-color: var(--clr-btn-default-grey);
        padding-left: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: $mobile-breakpoint-width)  { 
            padding-left: 2rem;
            padding-bottom: 2rem;
        }
    }
}

