@import './_variables.scss';


.main_navigation {
    background-color: var(--clr-black-pure);
    // color: var(--clr-white-pure);
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    position: sticky;
    top: 0;
    z-index: 10;
    .explicit_nav_list {
        display: none;
    }

    // mobile 
    @media screen and (max-width: $mobile-breakpoint-width) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // tablet 
    @media screen and (max-width: $desktop-breakpoint-width) and (min-width: $mobile-breakpoint-width) {
        display: flex;
        align-items: center;
        .logo_container {
            width: 100%;
            margin-left: 24px;
        }
    }
    // desktop +
    @media screen and (min-width: $desktop-breakpoint-width) {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr;

        padding-left: var(--standard-margin);
        padding-right: var(--standard-margin);


        .logo_container {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row: 1;
            align-self: center;
        }
        .cart_container {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row: 1;
            align-self: center;
            position: relative;
            z-index: 90;
            // justify-content: end;
            justify-self: end;
            cursor: pointer;
        }
        .hamburger_container {
            display: none;
        }
        .explicit_nav_list {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row: 1;
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin-left: 0rem;
            margin-right: 0rem;

            & li h6 {
                    
                    color: var(--clr-white-pure);
                &:hover {
                    cursor: pointer;
                    color: var(--clr-tan-primary);
                }
            }
        }
    }
}

//this one refers to the list in the main navigation
.fixed_nav_container {
    .menu_container {
        position: absolute;
        z-index: 20;
        background-color: var(--clr-white-pure);
        margin-top: 62px;
        top: 0;
        left: 0; 
        right: 0;
        padding-left: var(--standard-margin);
        opacity: 1;
        list-style: none;
        @media screen and (max-width: $desktop-breakpoint-width) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            padding-bottom: 3rem;
        }
        @media screen and (max-width: $mobile-breakpoint-width) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

// this one refers to the list in the body as opposed to the navigation
.menu_container {
        padding-left: var(--standard-margin);
        padding-right: var(--standard-margin);
        gap: 4rem;
    @media screen and (min-width: $mobile-breakpoint-width) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding-bottom: 3rem;
    }
    @media screen and (max-width: $mobile-breakpoint-width) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

    
.main_nav_list {
    /* width: 100%; */
    position: relative;
    margin-top: 14rem;
    margin-bottom: 0rem;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-grey-primary);
    border-radius: var(--standard-border-radius);
    @media screen and (max-width: $mobile-breakpoint-width) {
        width: 100%;
        // max-width: 300px; 
    }
}
.product_image_container {
    transform: translateY(-90px); 
    position: absolute;
    top: -2.5rem;
}

.main_nav_list_title{
    position: absolute;
    color: var(--clr-black-pure);
    top: 5rem;
    margin-top: 0rem;
} 
.main_nav_list a {
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn_type_3 {
    position: absolute;
    top: 7.5rem;
    margin: 0 auto;
}

.cart_number {
    color: black;
    position: absolute;
    top: 12px;
    right: -12px;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    & p {
        font-size: .7rem;
    }
    @media screen and (max-width: $desktop-breakpoint-width) {
        top: 29px;
        right: 12px;
    }
}


.cart_dropdown_card {
    background-color: var(--clr-white-pure);
    // margin: 0;
    position: absolute;
    top: 10rem;
    right: var(--standard-margin);
    z-index: 10;
    border-radius: var(--standard-border-radius);
    min-width: 578.4px;
    & .cart_container_div {
        padding: 2rem;
    }
    & .cart_heading_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .remove_btn {
            cursor: pointer;
        }
    }
    @media screen and (max-width: $mobile-breakpoint-width) {
        // position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}

.cart_item_ul {
    list-style: none;
    list-style-type: none;
    padding-left: 0rem;
}
.cart_total_price {
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.checkout_btn {
    width: 100%;
    height: 4rem;
    & h5 {
        margin-top: 0;
        margin-bottom: 0;
    }
}