@import './_variables.scss';

.plus_minus_container {
    width: 120px;
    height: 48px;
    display: flex;
}

.plus_minus_buttons {
    border: none;
    width: 40px;
    color: var(--clr-black-primary);
}

.number_input { 
    background-color: var(--clr-grey-primary);
    border: none;
    border-radius: 0;
    appearance: none; 
    -webkit-appearance: textfield; 
    width: 40px;
    text-align: center;
}

.number_input:focus { 
    outline: none;
}

.number_input::-webkit-outer-spin-button, .number_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    border: none;
} 

  
  